<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir imágenes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Subir imágenes</h1>
        <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="files">Selecciona una carpeta</label>
                <input type="file" class="form-control" id="files" name="files[]" webkitdirectory multiple required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Subir imágenes</button>
        </form>
    </div>
</body>
</html>